/* css reset */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}

/* utility class */
#container{
    max-width: 960px;
    margin: 2rem auto 0;
    overflow: hidden;
}
.logo{
    width: 300px;
}
/*.btn{
    display: block;
    padding: .4rem 1.5rem;
    
    margin-top: 1rem;
    
    width: 20%;
    margin-left: 350px;
    color: aquamarine;
    text-transform: uppercase;
    font-weight: bold;
    background-color: chartreuse;
}*/
.btn{
    display: inline-block;
    padding: .4rem 1.5rem;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #d5a2da;
}
/* header navbar */
#main-header{
    background-color: #10645726;
    color: yellow;
}
#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .8rem 2rem;
    overflow: hidden;
}
#navbar ul {
    display: flex;
}
#navbar ul li {
    padding: 1rem 2rem;
}
#navbar ul li a {
    color: black;
    font-size: 1.2rem;
}
.message-box {
    margin: 1rem;
    padding: .5rem;
    text-align: center;

}
.message-box h1{
    font-size: 1.7rem;
    margin-bottom: 1rem;

}
.message-box input {
    display: block;
    margin: auto;
    padding: 0.5rem;
    width: 30%;
    text-align: center;
    margin-bottom: 1rem;
}
/*.message-box h1 input {
    display: block;
    margin: auto;
    padding: .4rem;
    width: 30%;
    margin-bottom: 1rem;
}*/
#features{
    display: flex;
    padding: 1rem;
    margin-top:3rem ;
    margin-bottom: 3rem;
    flex-direction: column;
}
#features .feature {
    display: flex;
    justify-self:center ;
    align-items: center;
   
}
#features .feature i {
    color: #ffd200;
    margin-right: 0.8rem;
    /* margin: auto;
    text-align: center; */

}
#features .feature div {
    padding: 1rem;
    margin-left: 3rem;
}
#features .feature div h2{
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
}
#how-it-works{
    padding: 3rem;
    margin: auto;
    text-align: center;

}
#how-it-works #video{
    width: 600px;
    height: 340px;
} 

#pricing {
    display: flex;
    padding: 3rem .2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.price-box {
    border: solid black 2px;
    border-radius: 2px;
    text-align: center;
    padding: 0 3rem;

}
.price-box:first-child{
    margin-right:1.2rem ;

}
.price-box:last-child{
    margin-left:1.2rem ;
    
}
.price-box h3{
    background-color: #ddd;
    font-size: 1.05rem;
    padding: 1rem;  
}

.price-box h2 {
    /* background-color: aqua;
    font-size: 1rem;
    text-align: center;*/ 
    padding: 1rem;
    
}
.price-box p{
    padding: 0 3rem 2rem;
}
.price-box .btn {
    display: inline-block;
    margin: 1rem ;
}
#main-footer{
    background-color: #769f7e;
    padding: 1rem 4rem;  
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
   
}

#main-footer div a{
    color: black;
    padding: 0.2rem 1rem;
}

/*
tablet and smartphone*/
@media (max-width: 800px){
    #navbar{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1.5rem 0.3rem;
    }
    #navbar ul li {
    padding: 1rem 1rem;
    }
    #features .feature {
        flex-direction: column;
    
   
    }
    #features .feature div {
    padding: 1rem;
    margin-left: 0.5rem;
    text-align: center;
    margin-bottom: 2rem;
    }
    #how-it-works{
    padding: 1rem;
    }
    #how-it-works #video{
    width: 80%;
    height: 30%;
    } 
    #pricing {
    flex-direction: column;
    }
    #pricing .price-box{
        margin: 1rem;
    }
    .price-box:first-child{
    margin-right:0 ;

    }
    .price-box:last-child{
    margin-left:0 ;
    }
    #main-footer{
    padding: 2.5rem 0.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
}
